<form #newForm="ngForm">
  <button (click)="addA()">Add A</button>
  <div *ngFor="let data of arr; let i = index">
    <label>A{{ i + 1 }}</label>
    <input [(ngModel)]="data.title" name="{{ i }}" type="text" />
    <button (click)="removeA(i)">Remove</button>
    <button (click)="addB(i)">Add B</button>

    <div class="margin-left" *ngFor="let sub of data.content; let j = index">
      <label>B{{ j + 1 }}</label>
      <input [(ngModel)]="sub.title" name="{{ i }}{{ j }}" type="text" />
      <button (click)="removeB(i, j)">Remove</button>
      <button (click)="addC(i, j)">Add C</button>

      <div class="margin-left2" *ngFor="let sub1 of sub.content; let k = index">
        <label>C{{ k }}</label>
        <input
          [(ngModel)]="sub1.title"
          name="{{ i }}{{ j }}{{ k }}"
          type="text"
        />
        <button (click)="removeC(i, j, k)">Remove</button>
      </div>
    </div>
  </div>
</form>
<button (click)="getData()">Submit</button>

<ul *ngFor="let data of arr">
  <li>{{ data.title }}</li>
  <ul *ngFor="let sub of data.content">
    <li>{{ sub.title }}</li>
    <ul *ngFor="let sub1 of sub.content">
      <li>{{ sub1.title }}</li>
    </ul>
  </ul>
</ul>
